<!DOCTYPE html>
<html>
<head>
  <title>RailsLayoutsAndTemplates Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Flatiron Widgets Store</h1>
<%= yield %>

</body>
</html>
